@use '../variables' as *;

#listContent {
	display: flex;
	flex-direction: column;

	p {
		text-align: center;
		color: $gray;
	}

	#announcementText {
		padding: 30px 40px 0 40px;
	}

	#tabTitleLoadingIndicator {
		margin-top: 20px !important;

		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;

		.loading-indicator {
			span {
				background-color: $gray !important;
			}
		}
	}
}
