@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;400&family=Inter:wght@100;200;300;400&family=Lato&family=Roboto:wght@300;400&display=swap");
@use '../variables' as *;
#appContent {
  background-color: #1a1a1a;
  height: 100%;
  display: grid;
  grid-template-columns: min-content auto; }

@use '../variables' as *;
#listContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  max-height: calc(100vh - 80px);
  padding: 20px; }
  #listContent p {
    text-align: center;
    color: #999999; }
  #listContent .link {
    color: #64edd4; }
  #listContent #announcementText {
    padding: 30px 40px 0 40px; }
  #listContent #tabTitleLoadingIndicator {
    margin: 20px 0 30px 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; }
    #listContent #tabTitleLoadingIndicator .loading-indicator {
      margin-top: 20px !important; }
      #listContent #tabTitleLoadingIndicator .loading-indicator span {
        background-color: #64edd4 !important; }
  #listContent .link-card {
    background-color: #252525;
    padding: 10px 14px 10px 14px;
    align-items: center;
    display: grid;
    gap: 10px;
    border-radius: 10px; }
    #listContent .link-card p {
      text-align: left; }
    #listContent .link-card .title {
      color: #c4c4c4;
      font-size: 16px; }
    #listContent .link-card .subtitle {
      color: #999999;
      font-size: 14px; }

@use '../variables' as *;
#appWrapper {
  height: 100%;
  display: grid;
  grid-template-rows: 40px auto;
  background-color: #1a1a1a; }

#titlebar {
  height: 40px;
  background-color: #252525;
  display: grid;
  grid-template-columns: auto min-content; }
  #titlebar #draggable {
    -webkit-app-region: drag; }
  #titlebar #windowControlButtons {
    width: min-content;
    display: grid;
    grid-auto-flow: column; }
    #titlebar #windowControlButtons div {
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center; }
      #titlebar #windowControlButtons div img {
        filter: invert(70%) sepia(0%) saturate(1%) hue-rotate(158deg) brightness(88%) contrast(90%);
        width: 16px;
        height: 16px; }
      #titlebar #windowControlButtons div#maximizeButton img, #titlebar #windowControlButtons div#resizeButton img {
        width: 14px;
        height: 14px; }
      #titlebar #windowControlButtons div:hover {
        background-color: #2c2c2c; }

@use '../variables' as *;
#sidebar {
  display: grid;
  grid-template-columns: 40px auto;
  width: 30vw;
  max-width: 200px;
  background-color: #202020;
  border-right: 2px solid #252525; }
  #sidebar #sidebarToolbar {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    border-right: 2px solid #252525; }
    #sidebar #sidebarToolbar #addGroupButton {
      height: 30px;
      width: 30px;
      display: flex;
      align-items: center;
      justify-content: center; }
      #sidebar #sidebarToolbar #addGroupButton:hover {
        background-color: #2c2c2c;
        border-radius: 10px; }
      #sidebar #sidebarToolbar #addGroupButton:active {
        margin-top: 1px; }
      #sidebar #sidebarToolbar #addGroupButton img {
        filter: invert(70%) sepia(0%) saturate(1%) hue-rotate(158deg) brightness(88%) contrast(90%);
        width: 28px;
        height: 28px; }
  #sidebar #sidebarGroupList {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100vh - 60px); }
    #sidebar #sidebarGroupList::-webkit-scrollbar {
      width: 6px; }
    #sidebar #sidebarGroupList .sidebar-group {
      width: 100%;
      margin: 0 10px 0 10px;
      border-radius: 5px;
      background-color: #2c2c2c;
      color: #c4c4c4;
      padding: 4px;
      text-align: center;
      font-size: 14px; }
      #sidebar #sidebarGroupList .sidebar-group:hover, #sidebar #sidebarGroupList .sidebar-group.selected {
        background-color: #3e3e3e; }

@use '../variables' as *;
::-webkit-scrollbar {
  width: 8px; }

::-webkit-scrollbar-track {
  background: transparent; }

::-webkit-scrollbar-thumb {
  background: #3e3e3e;
  border-radius: 15px; }

::-webkit-scrollbar-thumb:hover {
  background: #505050; }

@use '../variables' as *;
.dropdown {
  position: absolute;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
  background-color: #2c2c2c;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  z-index: 999; }
  .dropdown div {
    display: flex;
    align-items: center;
    padding: 5px 7px 5px 5px;
    gap: 6px;
    color: #c4c4c4;
    font-size: 14px; }
    .dropdown div img {
      width: 18px;
      filter: invert(10%) sepia(94%) saturate(4958%) hue-rotate(357deg) brightness(90%) contrast(91%); }
    .dropdown div:hover {
      background-color: #3e3e3e; }

@use '../variables' as *;
#linkDialog {
  height: calc(50vh);
  width: 90vw;
  max-height: 175px;
  max-width: 650px;
  background-color: #252525;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: grid;
  grid-template-rows: 70px 40px 40px;
  text-align: center;
  align-items: center;
  color: #999999; }
  #linkDialog #title input,
  #linkDialog #url input,
  #linkDialog #subtitle input {
    color: #999999 !important;
    font-size: 16px;
    text-align: left; }
  #linkDialog .header {
    display: grid;
    align-items: center;
    grid-template-columns: auto min-content; }
    #linkDialog .header .title {
      text-align: center;
      margin-left: calc(30px + 20px);
      font-size: 24px; }
    #linkDialog .header .close-menu-btn {
      margin-right: 20px; }
      #linkDialog .header .close-menu-btn img {
        width: 30px;
        height: 30px; }
  #linkDialog .property-wrapper {
    display: flex;
    gap: 10px;
    margin: auto; }
  #linkDialog img {
    width: 20px;
    height: 20px;
    filter: invert(70%) sepia(0%) saturate(1%) hue-rotate(158deg) brightness(88%) contrast(90%); }

.editable-text {
  width: 100%;
  border: none;
  background-color: transparent;
  color: #c4c4c4;
  font-size: 14px;
  text-align: center; }
  .editable-text:focus {
    outline: none; }

:root {
  font-family: 'Inter', sans-serif; }

@supports (font-variation-settings: normal) {
  :root {
    font-family: 'Inter var', sans-serif; } }

* {
  font-family: 'Inter var', sans-serif;
  user-select: none; }

p,
body {
  margin: 0 !important; }

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden; }

h1,
h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 300; }

h1 {
  font-size: 45px; }

h2 {
  font-size: 30px; }

img {
  -webkit-user-drag: none;
  user-select: none; }

#mainWrapper header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px; }
  #mainWrapper header div {
    margin-top: 10px; }

input[type='file'] {
  color: transparent; }

#loadingIndicator {
  text-align: center;
  color: white;
  margin-top: 40px; }

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.5;
  margin-top: 40px !important; }

.fixed-centered, .floating-menu {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: 20px; }

.floating-menu {
  top: 30%;
  transform: translate(-50%, -30%); }
